<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.youngsee.dual.posterdisplayer"
    android:versionCode="4714"
    android:versionName="4.7.1.4" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIMAX_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <!-- <uses-permission android:name="android.permission.DEVICE_POWER"/> -->
    <!-- <uses-permission android:name="android.permission.SENSOR_INFO" /> -->
    <!-- <uses-permission android:name="android.permission.SENSOR_ENABLE" /> -->

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.youngsee.dual.posterdisplayer.PosterApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logoicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <!-- 
        <uses-library android:name="android.test.runner" />
         -->

        <activity
            android:name="com.youngsee.dual.posterdisplayer.PosterMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.youngsee.dual.posterdisplayer.PosterOsdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTask"
            android:windowSoftInputMode = "stateHidden|adjustResize">
        </activity>
        
        <activity
            android:name="com.youngsee.dual.authorization.AuthorizationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTask"
            android:windowSoftInputMode = "stateHidden|adjustResize">
        </activity>

        <!-- 
        <receiver
            android:name="com.youngsee.dual.posterdisplayer.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="SystemBootUpReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
         -->

        <service android:name="com.youngsee.posterdisplayer.PopSubService" />

        <provider
            android:name="com.youngsee.dual.provider.AdProvider" 
    		android:authorities="com.youngsee.dual.posterdisplayer.provider"/>
        
    </application>

    <!--
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.youngsee.junit" >
    </instrumentation>
    -->

</manifest>